<form class="form-group" action="//formspree.io/thomwork@gmail.com"
      method="POST">
      <fieldset class="form-group">
    			<label for="username">Your name</label>		
    	    <input type="text" name="name" id="username">
      </fieldset>
		<fieldset class="form-group">
				<label for="useremail">Your email</label>
		    <input type="email" name="_replyto" id="useremail">
		</fieldset>
		
    <input type="hidden" name="_subject" value="New submission!" />
    <input type="text" name="_gotcha" style="display:none" />
    <input type="submit" value="Send" class="btn btn-primary">
    <input type="hidden" name="_next" value="//site.io/thanks.html" />
</form>