

{% set blog_image = page.media.images|first %}
{% if blog_image %}
<div class="hero" style="background-image: url({{ blog_image.url }});">
{% else %}
<div class="hero">
{% endif %}

{% block header %}
<header id="header">
    <div id="navbar">
        {% block header_extra %}{% endblock %}
        {% if config.plugins.langswitcher.enabled %}
        {% include 'partials/langswitcher.html.twig' %}
        {% endif %}
        {% block header_navigation %}
        {% include 'partials/navigation.html.twig' %}
        {% endblock %}
    </div>

</header>
{% endblock %}

<div class="flush-top blog-header blog-header-image"> 

	<div class="blog-header-image-inner">

		<h1>Zabby Allen</h1>

		<h2 class="slogan">The girl with all the craft supplies</h2>

	</div>
</div> <!-- /header-image -->

</div><!-- /hero (base)-->