

{% set blog_image = page.media.images|first %}
{% if blog_image %}
{#
<div class="hero" style="background-image: url({{ blog_image.url }});">
#}
<div class="hero" style="background-image: url('/user/pages/images/paperlayers.jpg')">
{% else %}
<div class="hero" style="background-image: url('/user/pages/images/paperlayers.jpg')">
{% endif %}

{% block header %}
<header id="header">
    <div id="navbar">
        {% block header_extra %}{% endblock %}
        {% if config.plugins.langswitcher.enabled %}
        {% include 'partials/langswitcher.html.twig' %}
        {% endif %}
        {% block header_navigation %}
        {% include 'partials/navigation.html.twig' %}
        {% endblock %}
    </div>

</header>
{% endblock %}

<div class="flush-top blog-header blog-header-image" style="padding-bottom: 30px"> 

  <div class="blog-header-image-inner" style="background-image: url('/user/pages/images/logo.png');background-repeat: no-repeat;background-position:center center;background-size: initial;    padding: 5rem 0 5rem;">

    <!-- <h1>Zabby Allen</h1> -->

    <!-- <h2 class="slogan">Creativity to make you happy</h2> -->

  </div>
</div> <!-- /header-image -->

</div><!-- /hero (base)-->

<h2 class="slogan-subhero" style="text-transform: uppercase;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #f972c7;
    letter-spacing: 1px;
    line-height: 16px;">Creativity to make you happy</h2>