{% set feed_url = blog.url == '/' or blog.url == base_url_relative ? (base_url_relative~'/'~blog.slug) : blog.url %}
{% set new_base_url = blog.url == '/' ? '' : blog.url %}


<div class="sidebar-header">

	{% if page.name == 'about.md' %}
<<<<<<< HEAD
		<img src="/user/pages/images/zabby-circle-yellow.png" alt="" class="smile">
		<p>Fun DIYs, recipes and freebies from the girl with all the craft supplies. Connect with me on my social media pages below...</p>
	{% else %}
		<a href="about">
			<img src="/user/pages/images/zabby-circle-yellow.png" alt="" class="smile">
=======
		<img src="/user/pages/images/circle-portrait-materials-blue.png" alt="" class="smile">
		<p>Fun DIYs, recipes and freebies from the girl with all the craft supplies. Connect with me on my social media pages below...</p>
	{% else %}
		<a href="about">
			<img src="/user/pages/images/circle-portrait-materials-blue.png" alt="" class="smile">
>>>>>>> cb3c259e35b8d4f781b9fdb90fbf88e4eae342e3
		</a>
		<p>My name is Zabby Allen and I'm addicted to craft supplies! Follow along for fun DIY projects, recipes, free desktop wallpapers and more...</p>
		<p><a href="about">Find out more about me here</a>.</p></p>
	{% endif %}

	<ul class="list-social list-inline">
		<a href="http://www.instagram.com/zabbyallen"><li><i class="icon-zab fa fa-instagram"></i></li></a>
		<a href="http://www.pinterest.com/zallen"><li><i class="icon-zab fa fa-pinterest-p"></i></i></li></a>
		<a href="http://www.twitter.com/zabbyallen"><li><i class="icon-zab fa fa-twitter"></i></li></a>
		<a href="http://www.bloglovin.com/zabbyallen"><li><i class="icon-zab fa fa-plus"></i></li></a>
	</ul>
</div>

{% if page.title == 'Blog' or page.name == 'item.md' %}
{% include 'partials/sidebar-lower.html.twig' %}
{% endif %}

<div class="sidebar-content">
	<h4>Instagram</h4>
	<script src="//instansive.com/widget/js/instansive.js"></script>
	<iframe src="//instansive.com/widgets/c8260fb9300162f8b693275610a5e4c747e373c4.html" id="instansive_c8260fb930" name="instansive_c8260fb930"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
</div>



