{% embed 'partials/base.html.twig' %}
{% set collection = page.collection() %}
{% block content %}

{#
			{% if config.plugins.breadcrumbs.enabled %}
				{% include 'partials/breadcrumbs.html.twig' %}
			{% endif %} #}

		<div class="row">
			<div id="listing" class="col-md-8 responsive">
				{% for child in collection %}
							{% include 'partials/blog_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
					{% endfor %}

					{% if config.plugins.pagination.enabled and collection.params.pagination %}
							{% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
					{% endif %}
			</div>
			<div id="sidebar" class="col-md-4">
				{% include 'partials/sidebar.html.twig' with {'blog':page} %}
			</div>
		</div>

	{% endblock %}

{% endembed %}


