{% embed 'partials/base.html.twig' %}

	{% block content %}
		{% if config.plugins.breadcrumbs.enabled %}
			{% include 'partials/breadcrumbs.html.twig' %}
		{% endif %}

		<div class="col-md-8 responsive" id="listing">

		<div class="blog-content-item grid pure-g-r">
			<div id="item" class="block pure-u-2-3">
				{% include 'partials/blog_item.html.twig' with {'blog':page.parent, 'truncate':false,'big_header':false} %}
			</div>
		</div>

		</div> <!-- col-md-8 -->

		<div id="sidebar" class="col-md-4">
			{% include 'partials/sidebar.html.twig' with {'blog':page.parent} %}
		</div>
	{% endblock %}

{% endembed %}
